header{
	background-color: #3399ff;
}
h1{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}
h2{
	color: #000080;
	text-transform: uppercase;

}
section{
	background-color: #ffa31a;
}
a{
	background-color: #CACFD2;
	color: #000000;

}
img{
	display:none;
}